*.DS_Store
*.ipynb_checkpoints

.Spotlight-V100
.Trashes

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Specific files and folders
StackOverflow/
workforce_analytics
nyc311calls.csv.gz
